@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  backdrop-filter: blur(5px);
  padding: 2vh;
  z-index: 60;
  img {
    width: 85vh;
    height: 85vh;
    background-color: black;
    border-radius: 10px;
    @include tablet {
      width: 85vw;
      height: 90vw;
    }
  }
  .modal__closeBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 0;
    &:hover {
      .modal__line {
        background-color: #d4b895;
      }
    }
    .modal__line {
      width: 3.5vh;
      height: 0.3vh;
      background-color: rgb(255, 254, 254);
      margin: 1vh;
      border-radius: 4px;
      transition: 0.3s ease-in-out;
    }
    .modal__line:first-child {
      transform: translateY(-500px);
    }
    .modal__line:nth-child(2) {
      transform: rotate(-45deg) translateX(0.2vh);
    }
    .modal__line:nth-child(3) {
      transform: rotate(45deg) translateY(-1.1vh) translateX(-0.8vh);
    }
  }
}
