@mixin tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 699px) {
    @content;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12vh;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  position: relative;
  .navbar__logo {
    margin-right: 5vh;
    img {
      height: auto;
      width: 20vh;
    }
  }
  .navbar__hamburger {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    .navbar__line {
      width: 3.5vh;
      height: 0.3vh;
      background-color: black;
      margin: 1vh;
      border-radius: 4px;
      transition: 0.3s ease-in-out;
    }
    &.active {
      .navbar__line:first-child {
        transform: translateY(-500px);
      }
      .navbar__line:nth-child(2) {
        transform: rotate(-45deg) translateX(0.2vh);
      }
      .navbar__line:nth-child(3) {
        transform: rotate(45deg) translateY(-1.1vh) translateX(-0.8vh);
      }
    }
    @include tablet {
      display: block;
    }
  }
  .navbar__tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 100%;
    .navbar__all {
      height: 100%;
      display: flex;
      align-items: center;
    }
    .navbar__lighting {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      &::before {
        content: 'Kolor podświetlenia';
        position: absolute;
        top: 10%;
        font-size: 1.4vh;
        color: #000000;
        font-weight: 600;
      }
    }
    .navbar__orientation {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      &::before {
        content: 'Orientacja';
        position: absolute;
        top: 10%;
        font-size: 1.4vh;
        color: #000000;
        font-weight: 600;
      }
    }
    .navbar__color {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      justify-content: center;
      &::before {
        content: 'Kolor ramki';
        position: absolute;
        top: 10%;
        font-size: 1.4vh;
        color: #000000;
        font-weight: 600;
      }
    }
    @include tablet {
      position: absolute;
      right: 0;
      top: 12vh;
      background-color: rgba(255, 255, 255, 1);
      height: 88vh;
      flex-direction: column;
      width: 100%;
      transform: translate(100%);
      transition: 0.3s ease-in-out;
    }
    &.active {
      @include tablet {
        transform: translate(0%);
      }
    }
  }
  .navbar__button {
    color: white;
    background-color: black;
    padding: 1.4vh;
    border-radius: 5px;
    border: 1px solid black;
    margin: 0.2vh;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.3vh;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      color: #d4b895;
    }
    &.active {
      color: #000000;
      background-color: #d4b895;
    }
  }
  @include tablet {
    justify-content: space-between;
    .navbar__logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0;
      img {
        width: 30vw;
      }
    }
  }
  @include phone {
    .navbar__logo {
      margin-right: 0;
      img {
        width: 45vw;
      }
    }
  }
}

.navbar.active {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  height: 12vh;
  border-bottom: 2px solid rgba(212,184,149,0.9);
  .navbar__header {
    display: none;
  }
}
